<!DOCTYPE html>
<html>
<head>
  <title>Epic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<!-- A flash message is what we call those message on Websites that say "Thanks for log in" or "Thanks for signing up" -->
<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>
<%= render 'layouts/header' %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
